In [5]:
!kaggle datasets list -s "Berlin Airbnb Data"

ref                                               title                            size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------  ------------------------------  -----  -------------------  -------------  ---------  ---------------
brittabettendorf/berlin-airbnb-data               Berlin Airbnb Data               88MB  2019-03-05 09:23:00          14171        399  0.8235294
thoroc/edinburgh-inside-airbnb                    Edinburgh Inside Airbnb         174MB  2019-08-24 05:44:33            174         10  0.7058824
barelydedicated/airbnb-duplicate-image-detection  AirBnB Duplicate Image Dataset  104MB  2019-12-20 04:10:34            158          7  0.8125
raghavs1003/airbnb-berlin-2020                    Airbnb Berlin 2020              108MB  2020-09-22 10:11:40             52          0  0.5882353
milorico/airbnb                                   Airbnb                           80MB  2020-05-07 16:21:05             13          0  0.11764706

In [1]:
!kaggle datasets download -d "brittabettendorf/berlin-airbnb-data"

Downloading berlin-airbnb-data.zip to C:\Users\uapug\Documents\3rd semester\python-projects\Airbnb\Airbnb_Data_Analysis

  0%|          | 0.00/87.7M [00:00<?, ?B/s]
  1%|1         | 1.00M/87.7M [00:00<00:12, 7.45MB/s]
  2%|2         | 2.00M/87.7M [00:00<00:11, 8.12MB/s]
  5%|4         | 4.00M/87.7M [00:00<00:09, 8.95MB/s]
  7%|6         | 6.00M/87.7M [00:00<00:08, 9.65MB/s]
  9%|9         | 8.00M/87.7M [00:00<00:08, 9.46MB/s]
 11%|#1        | 10.0M/87.7M [00:00<00:07, 10.4MB/s]
 13%|#2        | 11.0M/87.7M [00:01<00:10, 7.97MB/s]
 15%|#4        | 13.0M/87.7M [00:01<00:09, 8.51MB/s]
 16%|#5        | 14.0M/87.7M [00:01<00:09, 8.30MB/s]
 17%|#7        | 15.0M/87.7M [00:01<00:08, 8.57MB/s]
 19%|#9        | 17.0M/87.7M [00:01<00:08, 8.87MB/s]
 21%|##        | 18.0M/87.7M [00:01<00:08, 8.78MB/s]
 23%|##2       | 20.0M/87.7M [00:02<00:07, 9.85MB/s]
 24%|##3       | 21.0M/87.7M [00:02<00:07, 9.86MB/s]
 25%|##5       | 22.0M/87.7M [00:02<00:07, 9.48MB/s]
 27%|##7       | 24.0M/87.7M [00:02<00:06, 10.2MB/s]
 30%|##9       | 26.0M/87.7M [00:02<00:06, 10.0MB/s]
 32%|###1      | 28.0M/87.7M [00:02<00:05, 10.8MB/s]
 34%|###4      | 30.0M/87.7M [00:03<00:05, 10.8MB/s]
 36%|###6      | 32.0M/87.7M [00:03<00:05, 10.9MB/s]
 39%|###8      | 34.0M/87.7M [00:03<00:05, 11.0MB/s]
 41%|####1     | 36.0M/87.7M [00:03<00:05, 9.84MB/s]
 42%|####2     | 37.0M/87.7M [00:03<00:06, 8.34MB/s]
 43%|####3     | 38.0M/87.7M [00:04<00:07, 6.89MB/s]
 44%|####4     | 39.0M/87.7M [00:04<00:08, 5.92MB/s]
 46%|####5     | 40.0M/87.7M [00:04<00:08, 6.04MB/s]
 47%|####6     | 41.0M/87.7M [00:04<00:07, 6.34MB/s]
 48%|####7     | 42.0M/87.7M [00:04<00:07, 6.81MB/s]
 49%|####9     | 43.0M/87.7M [00:04<00:06, 7.43MB/s]
 50%|#####     | 44.0M/87.7M [00:05<00:07, 5.79MB/s]
 51%|#####1    | 45.0M/87.7M [00:05<00:08, 5.46MB/s]
 52%|#####2    | 46.0M/87.7M [00:05<00:07, 5.89MB/s]
 54%|#####3    | 47.0M/87.7M [00:05<00:06, 6.42MB/s]
 55%|#####4    | 48.0M/87.7M [00:05<00:06, 6.83MB/s]
 57%|#####7    | 50.0M/87.7M [00:05<00:05, 7.76MB/s]
 58%|#####8    | 51.0M/87.7M [00:06<00:04, 7.95MB/s]
 59%|#####9    | 52.0M/87.7M [00:06<00:04, 7.85MB/s]
 62%|######1   | 54.0M/87.7M [00:06<00:04, 7.72MB/s]
 63%|######2   | 55.0M/87.7M [00:06<00:04, 7.83MB/s]
 65%|######5   | 57.0M/87.7M [00:06<00:03, 9.31MB/s]
 67%|######7   | 59.0M/87.7M [00:07<00:03, 9.21MB/s]
 68%|######8   | 60.0M/87.7M [00:07<00:03, 9.36MB/s]
 71%|#######   | 62.0M/87.7M [00:07<00:02, 10.3MB/s]
 73%|#######2  | 64.0M/87.7M [00:07<00:02, 10.3MB/s]
 75%|#######5  | 66.0M/87.7M [00:07<00:02, 10.7MB/s]
 78%|#######7  | 68.0M/87.7M [00:07<00:02, 10.3MB/s]
 80%|#######9  | 70.0M/87.7M [00:08<00:01, 10.7MB/s]
 82%|########2 | 72.0M/87.7M [00:08<00:01, 10.9MB/s]
 84%|########4 | 74.0M/87.7M [00:08<00:01, 11.1MB/s]
 87%|########6 | 76.0M/87.7M [00:08<00:01, 11.3MB/s]
 89%|########8 | 78.0M/87.7M [00:08<00:00, 11.1MB/s]
 91%|#########1| 80.0M/87.7M [00:08<00:00, 11.3MB/s]
 94%|#########3| 82.0M/87.7M [00:09<00:00, 10.8MB/s]
 96%|#########5| 84.0M/87.7M [00:09<00:00, 10.3MB/s]
 98%|#########8| 86.0M/87.7M [00:09<00:00, 10.2MB/s]
100%|##########| 87.7M/87.7M [00:09<00:00, 9.23MB/s]
100%|##########| 87.7M/87.7M [00:09<00:00, 9.31MB/s]

In [3]:
import pandas as pd

In [4]:
df_cs = pd.read_csv("calendar_summary.csv")
df_cs

         listing_id        date available price
0              2015  2019-09-10         f   NaN
1              2015  2019-09-09         f   NaN
2              2015  2019-09-08         f   NaN
3              2015  2019-09-07         f   NaN
4              2015  2019-09-06         f   NaN
...             ...         ...       ...   ...
8231475    29809357  2018-11-11         f   NaN
8231476    29809357  2018-11-10         f   NaN
8231477    29809357  2018-11-09         f   NaN
8231478    29809357  2018-11-08         f   NaN
8231479    29809357  2018-11-07         f   NaN

[8231480 rows x 4 columns]

In [21]:

df_l = pd.read_csv("listings.csv")
df_l

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,Mitte,Brunnenstr. Süd,52.533865,13.400731,Entire home/apt,60,2,0,NaN,NaN,1,314
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,Tempelhof - Schöneberg,Schöneberg-Nord,52.496211,13.341738,Shared room,20,1,0,NaN,NaN,6,78
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,Pankow,Prenzlauer Berg Südwest,52.531800,13.411999,Entire home/apt,85,3,0,NaN,NaN,2,15
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,Mitte,Alexanderplatz,52.520802,13.378688,Private room,99,1,0,NaN,NaN,3,6
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,Neukölln,Schillerpromenade,52.473762,13.424447,Private room,45,5,0,NaN,NaN,1,21

In [5]:
df_ls = pd.read_csv("listings_summary.csv")
list(df_ls.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [8]:
df_ls.head(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,https://www.airbnb.com/rooms/2015,20181107122246,2018-11-07,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,A+++ location! This „Einliegerwohnung“ is an e...,Great location! 30 of 75 sq meters. This wood...,none,It is located in the former East Berlin area o...,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76
1,2695,https://www.airbnb.com/rooms/2695,20181107122246,2018-11-07,Prenzlauer Berg close to Mauerpark,NaN,In the summertime we are spending most of our ...,In the summertime we are spending most of our ...,none,NaN,...,t,NaN,NaN,f,f,flexible,f,f,1,1.42
2,3176,https://www.airbnb.com/rooms/3176,20181107122246,2018-11-07,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,1st floor (68m2) apartment on Kollwitzplatz/ P...,This beautiful first floor apartment is situa...,none,The neighbourhood is famous for its variety of...,...,t,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,1.25
3,3309,https://www.airbnb.com/rooms/3309,20181107122246,2018-11-07,BerlinSpot Schöneberg near KaDeWe,First of all: I prefer short-notice bookings. ...,"Your room is really big and has 26 sqm, is ver...",First of all: I prefer short-notice bookings. ...,none,"My flat is in the middle of West-Berlin, direc...",...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,0.39
4,7071,https://www.airbnb.com/rooms/7071,20181107122246,2018-11-07,BrightRoom with sunny greenview!,Cozy and large room in the beautiful district ...,"The BrightRoom is an approx. 20 sqm (215ft²), ...",Cozy and large room in the beautiful district ...,none,"Great neighborhood with plenty of Cafés, Baker...",...,t,NaN,NaN,f,f,moderate,f,f,1,1.75
5,9991,https://www.airbnb.com/rooms/9991,20181107122246,2018-11-07,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,"THE APPARTMENT - 4 bedroom (US, Germany: 5 roo...",4 bedroom with very large windows and outstand...,none,Prenzlauer Berg is an amazing neighbourhood wh...,...,t,03/Z/RA/003410-18,NaN,f,f,strict_14_with_grace_period,f,f,1,0.15
6,14325,https://www.airbnb.com/rooms/14325,20181107122246,2018-11-07,Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,The apartment is located on the south-facing s...,The apartment is located on the upper second f...,none,NaN,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,3,0.23
7,16401,https://www.airbnb.com/rooms/16401,20181107122246,2018-11-07,APARTMENT TO RENT,NaN,Hello future guests! We want to rent our cute ...,Hello future guests! We want to rent our cute ...,none,NaN,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,NaN
8,16644,https://www.airbnb.com/rooms/16644,20181107122246,2018-11-07,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,Rent in the heart of Berlin - Kreuzberg Newly ...,Light and sunny 2-Room-turn of the century-fla...,none,Our Part of Kreuzberg is just the best. Good v...,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,t,2,0.47
9,17409,https://www.airbnb.com/rooms/17409,20181107122246,2018-11-07,Downtown Above The Roofs In Berlin,The 25 sqm room is located in the heart of Ber...,A 25 sqm room in the heart of Berlin. Many pla...,The 25 sqm room is located in the heart of Ber...,none,You are in the heart of the former East-Berlin...,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,2.83

In [24]:
df_n = pd.read_csv("neighbourhoods.csv")
df_n

      neighbourhood_group                              neighbourhood
0    Charlottenburg-Wilm.                                  Barstraße
1    Charlottenburg-Wilm.                        Charlottenburg Nord
2    Charlottenburg-Wilm.                        Düsseldorfer Straße
3    Charlottenburg-Wilm.                            Forst Grunewald
4    Charlottenburg-Wilm.                                  Grunewald
..                    ...                                        ...
134    Treptow - Köpenick                            Oberschöneweide
135    Treptow - Köpenick                                Plänterwald
136    Treptow - Köpenick                     Rahnsdorf/Hessenwinkel
137    Treptow - Köpenick  Schmöckwitz/Karolinenhof/Rauchfangswerder
138                   NaN                                        NaN

[139 rows x 2 columns]

In [25]:
df_r = pd.read_csv("reviews.csv")
df_r

        listing_id        date
0             2015  2016-04-11
1             2015  2016-04-15
2             2015  2016-04-26
3             2015  2016-05-10
4             2015  2016-05-14
...            ...         ...
401958    29784461  2018-11-06
401959    29792124  2018-11-05
401960    29817383  2018-11-07
401961    29849565  2018-11-07
401962    29849565  2018-11-07

[401963 rows x 2 columns]

In [26]:
df_rs = pd.read_csv("reviews_summary.csv")
df_rs

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2015,69544350,2016-04-11,7178145,Rahel,Mein Freund und ich hatten gute gemütliche vie...
1,2015,69990732,2016-04-15,41944715,Hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,2016-04-26,30048708,Victor,Un appartement tres bien situé dans un quartie...
3,2015,73819566,2016-05-10,63697857,Judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,2016-05-14,10414887,Romina,"Buena ubicación, el departamento no está orden..."
...,...,...,...,...,...,...
401958,29784461,345904235,2018-11-06,160580302,Michelle,The host canceled this reservation 269 days be...
401959,29792124,345428291,2018-11-05,117705698,Kevin,The host canceled this reservation 5 days befo...
401960,29817383,346045092,2018-11-07,20344466,Johan,The host canceled this reservation 50 days bef...
401961,29849565,346027793,2018-11-07,114291292,Matthias,The host canceled this reservation 23 days bef...
401962,29849565,346048710,2018-11-07,10938217,Mélanie,The host canceled this reservation 51 days bef...

In [16]:
import requests
from bs4 import BeautifulSoup

In [35]:
wiki_pop = "https://de.wikipedia.org/wiki/Berlin"
response = requests.get(wiki_pop)
table_class = "wikitable zebra sortable"
soup = BeautifulSoup(response.text,"html.parser")
Berlin_population = soup.find("table", {"class":table_class})
df_pop = pd.read_html(str(Berlin_population))
df_pop

[     Nr.           Bezirk von Berlin Einwohner[Anm. 1]  Flächein km²  \
 0    1.0                       Mitte           385.748          3947
 1    2.0    Friedrichshain-Kreuzberg           290.386          2034
 2    3.0                      Pankow           409.335         10307
 3    4.0  Charlottenburg-Wilmersdorf           343.592          6472
 4    5.0                     Spandau           245.197          9187
 5    6.0         Steglitz-Zehlendorf           310.071         10256
 6    7.0        Tempelhof-Schöneberg           350.984          5310
 7    8.0                    Neukölln           329.917          4493
 8    9.0            Treptow-Köpenick           273.689         16842
 9   10.0         Marzahn-Hellersdorf           269.967          6178
 10  11.0                 Lichtenberg           294.201          5212
 11  12.0               Reinickendorf           266.408          8931
 12   NaN        Land Berlin (gesamt)       3.669.4910.         89168

     Einwohnerpro km²
 0              9.733
 1             14.246
 2              3.956
 3              5.289
 4              2.656
 5              3.010
 6              6.622
 7              7.338
 8              1.610
 9              4.347
 10             5.592
 11             2.970
 12             4.088  ]

In [ ]:





df_pop = pd.read_html(str(Berlin_population))